/**
*
* SECTION 1
*
**/
.section-1 {
    padding: calc(var(--gap) * 2) 0;
}

.section-1 .wrapper .inner > header.title {
    grid-area: title;
    justify-self: center;
}

.section-1 h1, .section-1 h2 {
    text-transform: uppercase;
    text-align: center;
}

.section-1 .wrapper .inner {
    grid-template-areas: 
    'title title title title title title title title title title title title'
    'sidebar sidebar sidebar main-post main-post main-post main-post main-post main-post . . .';
}

.section-1 .wrapper .inner .sidebar {
    grid-area: sidebar;
    padding-top: var(--gap);
}

.section-1 .wrapper .inner .sidebar .posts {
    display: grid;
    grid-row-gap: var(--gap);
    padding-right: var(--gap);
}

.section-1 .wrapper .inner .sidebar .posts.active {
    font-weight: 900;
}

.section-1 .wrapper .inner .main-post {
    grid-area: main-post;
    display: grid;
    grid-row-gap: var(--gap);
}

.section-1 .wrapper .inner .main-post .info {
    display: grid;
    grid-row-gap: var(--gap);
}

.section-1 .wrapper .inner .main-post small,
.section-1 .wrapper .inner .main-post .share,
.section-1 .wrapper .inner .main-post .w3-bar{
    text-align: center;
}

.section-1 .wrapper .inner .main-post .share a{
    margin-left: calc(var(--gap) / 4);
}

.section-1 .wrapper .inner .main-post .img{
    width: 100%;
    height: 700px;
    background: url('../images/pages/our-history/Eat-Real-Food-NYC_Bondi-Watsons-Bay-Camp-Cove_by_Luisa-Brimble-316.jpg') center no-repeat;
    background-size: cover;
}

.section-1 .wrapper .inner .see-more {
    grid-column: 1 / 13;
    text-decoration: underline;
}


@media (max-width: 1800px) { 

}

@media (max-width: 1200px) {

}

@media (max-width: 900px) {
    .section-1 .wrapper .inner {
        grid-template-areas:
        'title title title title title title title title title title title title'
        '. . . main-post main-post main-post main-post main-post main-post . . .'
        '. . . sidebar sidebar sidebar sidebar sidebar sidebar . . .';
    }
}

@media (max-width: 600px) {
    .section-1 .wrapper .inner .main-post .img {
        height: 400px;
    }
    .section-1 .wrapper .inner {
        grid-template-areas: 
        'title title title title title title title title title title title title'
        '. main-post main-post main-post main-post main-post main-post main-post main-post main-post main-post .'
        '. sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar .';
    }
}