/**
*
* LAYOUT HELPERS
*
**/

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.main-container > * {
    grid-column: 1 / 2;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(calc(var(--gap) / 8), auto) var(--width-wrapper) minmax(calc(var(--gap) / 8), auto);
    grid-template-areas: 
    ". inner .";

    height: 100%;
    width: 100%;
}

.wrapper > .inner {
    display: grid;
    grid-area: inner;
    grid-gap: var(--gap);
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
}

.w3-card {
    border: 1px solid var(--light-color);
    box-shadow: none;
    display: grid;
    grid-template-areas: 
    'w3-card-header'
    'w3-card-body'
    'w3-card-footer';
}

.w3-card-header {
    grid-area: w3-card-header;
}

.w3-card-body {
    border-top: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
    grid-area: w3-card-body;
}

.w3-card-footer {
    grid-area: w3-card-footer;
    padding: var(--gap);
}

.w3-card-header, .w3-card-footer, .w3-card-body {
    padding: var(--gap);
}

/**
*
* FONTS
*
*/
.f-100 { font-weight: 100; font-family: var(--font-regular);}
.f-200 { font-weight: 200; font-family: var(--font-regular);}
.f-300 { font-weight: 300; font-family: var(--font-regular);}
.f-400 { font-weight: 400; font-family: var(--font-regular);}
.f-500 { font-weight: 500; font-family: var(--font-regular);}
.f-600 { font-weight: 600; font-family: var(--font-bold);}
.f-700 { font-weight: 700; font-family: var(--font-bold);}
.f-800 { font-weight: 800; font-family: var(--font-bold);}
.f-900 { font-weight: 900; font-family: var(--font-bold);}

@media (max-width: 1800px) { 
    .w3-hide-1800 {
        display: none !important;
        visibility: hidden;
    }
    .w3-show-1800 {
        display: auto !important;
        visibility: visible;
    }
}

@media (max-width: 1200px) {
    .w3-hide-1200 {
        display: none !important;
        visibility: hidden;
    }
    .w3-show-1200 {
        display: auto !important;
        visibility: visible;
    }
}

@media (max-width: 900px) {
    .w3-hide-900 {
        display: none !important;
        visibility: hidden;
    }
    .w3-show-900 {
        display: auto !important;
        visibility: visible;
    }
}

@media (max-width: 600px) {
    .w3-hide-600 {
        display: none !important;
        visibility: hidden;
    }
    .w3-show-600 {
        display: auto !important;
        visibility: visible;
    }
}