/**
*
* LAYOUT HELPERS
*
**/

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.main-container > * {
    grid-column: 1 / 2;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(calc(var(--gap) / 8), auto) var(--width-wrapper) minmax(calc(var(--gap) / 8), auto);
    grid-template-areas: 
    ". inner .";

    height: 100%;
    width: 100%;
}

.wrapper > .inner {
    display: grid;
    grid-area: inner;
    grid-gap: var(--gap);
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
}