@media (max-width: 900px) {
    :root {
        --gap: 1rem;
    }

    /**
    *
    * HELPER
    *
    **/
    .w3-hide-900 {
        display: none !important;
        visibility: hidden;
    }
    
    .w3-show-900 {
        display: auto !important;
        visibility: visible;
    }

    /**
    *
    * NAVBAR
    *
    **/
    .navbar .wrapper .inner {
        grid-template-columns: calc(var(--gap) * 2) 1fr 1fr 1fr 1fr calc(var(--gap) * 2);
        grid-template-areas: 
        ". logo . auth-menu burguer-menu ."
    }

    .navbar .burguer-menu {
        display: inline-block;
    }

    /**
    *
    * HEADER
    *
    **/
    .main-header .wrapper .inner .showcase {
        grid-column: 3 / 9;
    }

    /**
    *
    * FOOTER
    *
    **/
    footer .wrapper .inner {
        grid-template-columns: calc(var(--gap) * 2) 1fr 1fr 1fr calc(var(--gap) * 2);
        grid-template-areas: 
        ". f-section-1 f-section-2 f-section-3 ."
        ". f-section-4 f-section-5 f-section-6 ."
        ". footer-nav footer-nav footer-nav .";
    }
}